.jumbotron {
  background-image: linear-gradient(to top, #6a00ff, #000);
  color: #fff;
}
h2 {
  color: #fff;
}
/* f700ff */ /* Basic styling for the navigation container */
.topnav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
}

/* Button to trigger Drawer for small screens */
.menu-button {
  display: none;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
  /* Show the menu button on small screens */
  .menu-button {
    height: 40px;
    width: 40px;
    display: block;
  }

  /* Hide horizontal menu on small screens */
  .ant-menu-horizontal {
    display: none;
  }

  /* Custom Drawer styles */
  .ant-drawer .ant-menu {
    background-color: white;
    color: white;
  }

  /* Styling for the Drawer menu */
  .responsive-menu .ant-menu-item {
    color: white;
  }

  .ant-drawer-title {
    color: black;
  }
}

/* Base styles for CourseCard */
.course-card {
  width: 100%;
  max-width: 400px; /* Default max-width for larger screens */
  margin: auto;
  display: block;
}

.course-card-image {
  width: 100%; /* Ensures the image takes the full width of the card */
  height: 200px;
  object-fit: cover; /* Ensures the image covers the space without stretching */
  border-radius: 8px; /* Adds a slight border radius for image */
}

/* Styling for larger screens (desktops) */
@media (min-width: 1024px) {
  .course-card {
    max-width: 400px; /* Keep card width fixed for large screens */
  }
}

/* Styling for tablets */
@media (max-width: 1024px) {
  .course-card {
    max-width: 350px; /* Slightly smaller card on tablets */
  }
}

/* Styling for mobile screens */
@media (max-width: 768px) {
  .course-card {
    max-width: 100%; /* Card takes full width on small screens */
    margin-left: 10px;
    margin-right: 10px;
  }

  .course-card-image {
    height: 150px; /* Make the image shorter on mobile screens */
  }
}
